

<div class="footer">
    <p>Made with ❤️ by The DeveloperMania</p>
  </div>

  
</div> 

   
    <script src="/socket.io/socket.io.js">
    </script>
    <script>
        console.log("hello its working");
        
        window.scrollTo(0,document.body.scrollHeight);

        const sendMsgBtn=document.getElementById("sendmsgbtn");
const sendMsgtText=document.getElementById("sendmsgtext");
const msgConatainer=document.getElementById("message-container");
const author=document.getElementById("AUTHOR");

        const socket = io();

   function addmessage(msg,name){

          const newp=document.createElement("p");
            const newh=document.createElement("h3");
            const nodep = document.createTextNode(msg);
            const nodeh = document.createTextNode(name);
              newp.appendChild(nodep);
              newh.appendChild(nodeh);

              g = document.createElement('div');
                 g.setAttribute("class", "msgdiv");
                 g.appendChild(newp);
                  g.appendChild(newh);

              msgConatainer.appendChild(g);
              window.scrollTo(0,document.body.scrollHeight);
              
        }

        socket.on("serverMessage",data=>{
           addmessage(data[1],data[0])  
        });


function sendMessage(){
      const msgText=sendMsgtText.value;
      if(msgText == ""){
        //skip
      }else{
      socket.emit("message",msgText);
     addmessage(author.value,msgText);  
     sendMsgtText.value="";
      }        
}


    </script>



</body>
</html>